/* CONFIGURAÇÕES GERAIS */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

a{
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7;
}

a:hover{
	opacity: 1;
}

ul{
	list-style: none;
}

/* HEADER */
.header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
}

.header img{
	width: 200px;
}

#navbar ul {
	display: flex;
}

#navbar li a{
	color: #fff;
}

#navbar li{
	margin: 0 15px;
	text-shadow: 2px 2px 2px #000; 
}

/* HERO */
.hero{
	background-image: url(../img/hero.jpg);
	background-size: cover;
	min-height: 100vh;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.slogan h1{
	font-size: 3em;
	margin-bottom: 15px;
}


/* PROPÓSITO */
.proposito{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;
}

.proposito h3{
	font-size: 2rem;
	margin-bottom: 35px;
	color: #2D132C;
	text-align: center;
}

.proposito p{
	max-width: 800px;
	margin-bottom: 35px;
	color: #2D132C;
	text-align: center;
}

.proposito hr{
	width: 200px;
	height: 2px;
	background-color: #2D132C;
	margin-bottom: 70px;
	border: none;
}

/* MOTIVOS */
.motivos{
	background-color: #2D132C;
	display: flex  !important;
	flex-direction: column  !important;
	align-items: center;
	padding: 100px 50px;
}

.motivos h3{
	font-size: 2rem;
	margin-bottom: 35px;
	color: #fff;
	text-align: center;
}

.motivos p{
	max-width: 800px;
	margin-bottom: 35px;
	color: #fff;
	text-align: center;
}

.motivos hr{
	width: 200px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 70px;
	border: none;
}

.motivos .cards{
	width: 100%;
	display: flex;
	padding: 3%;
}

.motivos .cards li{
	padding: 0 30px;
	text-align: center;
	align-items: center;
}

.motivos .cards li i{
	color: #EE4540;
	font-size: 3.5rem;
	margin-bottom: 30px;
}

.motivos .cards li h4{
	font-size: 1.5rem;
	color: #fff;
	margin-bottom: 30px;
}

.motivos .cards li p{
	color: #fff;
}

