/* CONFIGURAÇÕES GERAIS */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

a{
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7;
}

a:hover{
	opacity: 1;
}

ul{
	list-style: none;
}

/* HEADER */
.header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 50px;
	/*background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.6);
	position:fixed;
	*/
}

.header img{
	width: 200px;
}

#navbar ul {
	display: flex;
}

#navbar li a{
	color: #fff;
}

#navbar li{
	margin: 0 15px;
	text-shadow: 2px 2px 2px #000; 
	padding: 15px;
}

/* HERO */
.hero{
	background-image: url(../img/hero.jpg);
	background-size: cover;
	min-height: 100vh;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-attachment: fixed
}

.slogan h1{
	font-size: 3em;
	margin-bottom: 15px;
}


/* PROPÓSITO */
.proposito{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 50px;
	background-attachment: fixed
}

.proposito h3{
	font-size: 2em;
	margin-bottom: 35px;
	color: #2D132C;
	text-align: center;
	font-weight: bold;
}

.proposito p{
	max-width: 800px;
	margin-bottom: 35px;
	color: #2D132C;
	text-align: center;
}

.proposito hr{
	width: 200px;
	height: 2px;
	background-color: #2D132C;
	margin-bottom: 70px;
	border: none;
}

/* MOTIVOS */
.motivos{
	background-color: #2D132C;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 50px;
	background-attachment: fixed
}

.motivos h3{
	font-size: 2em;
	margin-bottom: 35px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.motivos p{
	max-width: 800px;
	margin-bottom: 35px;
	color: #fff;
	text-align: center;
}

.motivos hr{
	width: 200px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 70px;
	border: none;
}

.motivos .cards{
	width: 100%;
	display: flex;
	padding: 3%;
}

.motivos .cards li{
	padding: 0 30px;
	text-align: center;
	align-items: center;
}

.motivos .cards li i{
	color: #EE4540;
	font-size: 3.5rem;
	margin-bottom: 30px;
}

.motivos .cards li h4{
	font-size: 1.5em;
	color: #fff;
	margin-bottom: 30px;
}

.motivos .cards li p{
	color: #fff;
}

/* CONTATO */
.contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;
	background-color: #2D132C;
	background-attachment: fixed
}

.contato h3{
	font-size: 2em;
	margin-bottom: 35px;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.contato p{
	max-width: 800px;
	margin-bottom: 35px;
	color: #fff;
	text-align: center;
}

.contato hr{
	width: 200px;
	height: 2px;
	background-color: #fff;
	margin-bottom: 70px;
	border: none;
}

.contato form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%
	max-width: 800px; 
}

.contato form input{
	padding: 15px;
	border: 1px solid #fff;
	border-radius: 4px;
	margin-right: 15px;
	flex: 1;
	flex-basis: 100%;
	margin-bottom: 25px;
}

.contato button{
	padding: 15px;
	background-color: #EE4540;
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* BAIXAR */
.baixar{
	display: grid;
	grid-template-columns: repeat(2,50%);
	align-items: center;
	justify-content: center;
	padding: 60px 50px;
	background-attachment: fixed;
}

.baixar #container{
	display: grid;
	grid-template-rows: repeat(2,50%);
	align-items: center;
	justify-items: center;
}

.baixar #container-carousel{
	display: grid;
	align-items: center;
	justify-items: center;
}

.baixar #carousel{
	width: 40%;
	align-items: center;
	justify-items: center;
}

.baixar p{
	font-weight: bold;
	max-width: 800px;
	margin-bottom: 35px;
	color: #2D132C;
	text-align: center;
}

.baixar button{
	padding: 15px;
	background-color: #2D132C;
	color: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 30%;
	grid-row-start: 2;
	grid-row-end: 2;
}

.baixar button a{
	text-decoration: none;
	color: #fff;
}

/* FOOTER */
footer{
	display: flex;
	flex-direction: column;
	background-color: #EE4540;
	padding: 15px 0;
	align-items: center;
	justify-content: center;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	justify-content: center;
}

footer ul li{
	margin-right: 10px;
	color: #fff;
}

footer ul li:last-child{
	margin-right: 0;
}

footer ul li a{
	color: #fff;
}

footer p{
	color: #fff;
	text-align: center;
}

footer ul li a:active, footer ul li a:hover{
	color: #fff;
	text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 700px){
	header{
		flex-direction: column;
	}
	header img{
		margin-bottom: 15px;
	}
	.hero .slogan h1{
		font-size: 1.7em;
		padding: 7%;
	}
}

@media (max-width: 850px){
	.motivos .cards{
		flex-direction: column;
	}
	.baixar{
		display: flex;
		flex-direction: column;
	}
	.baixar button{
		width: 50%;
		margin-bottom: 8%;
	}
	.baixar #carousel{
		width: 50%;
	}


}